a {
    font-family: sans-serif;
}
h1 {
    font-family: sans-serif;
    color:rgb(222, 63, 201);
    text-align: center;
}

.baglantilar {
    text-align: center;
    word-spacing:10px;
}

h2 {
    text-align: center;
    color: rgb(136, 19, 239);
    font-family: sans-serif;
}

div { 
    text-align: center; 
}
ol { 
    display: inline-block; 
}